<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='{{ page.description }}'>
    <link rel='icon' type='image/png' href='images/fly_icon.png' />
    <!-- link to website styles -->
    <link rel='stylesheet' href='styles/styles.css' />
    <!-- add Google font -->
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap' rel='stylesheet'>
    <!-- link to website scripts -->
    <script async type='text/javascript' src='scripts/mobile_menu.js'></script>
    {% if page.analytics %}
      {% include {{ page.analytics }} %}
    {% endif %}
  </head>

  <body>

    <!-- top navigation menu - mobile version -->
    <div id='topnav-bg'>
      <nav id='topnav'>
        <a href='index.html'>EVE Lab</a>
        <!-- navigation links (hidden by default) -->
        <ul id='pages'>
          <li><a href='research.html'>Research</a></li>
          <li><a href='people.html'>People</a></li>
          <li><a href='publications.html'>Publications</a></li>
          <li><a href='news.html'>News</a></li>
        </ul>
        <!-- 'hamburger menu' to toggle the navigation links -->
        <div id='menu' onclick='toggleMenu()'>
          <div class='bar'></div>
          <div class='bar'></div>
          <div class='bar'></div>
        </div>
      </nav>
    </div>

    <!-- top navigation menu - desktop/laptop version -->
    <nav id='topnav2'>
      <ul>
        <li class={{ page.index }}><a href='index.html'>About</a></li>
        <li class={{ page.research }}><a href='research.html'>Research</a></li>
        <li class={{ page.people }}><a href='people.html'>People</a></li>
        <li class={{ page.publications }}><a href='publications.html'>Publications</a></li>
        <li class={{ page.news }}><a href='news.html'>News</a></li>
      </ul>
    </nav>

    <!-- header image -->
    <div id='header'>
      <picture>
        <source media='(max-width: 860px)' srcset={{ page.headerImageSmall }} alt='header image'>
        <img class='header-image' src={{ page.headerImageBig }} alt='header image'>
        <div class='header-text'>Evolution & Vector Ecology Lab</div>
      </picture>
    </div>

    <div id='content'>
      {{ content }}
    </div>

    <div id='footer'>
      <p class='text'>&#169; 2021 Evolution and Vector Ecology Lab</p>
    </div>

  </body>
</html>
